{% trans_default_domain 'FOSUserBundle' %}
<div class="profileClass container">

    <ul class="nav nav-tabs text-center" role="tablist">
        <li class="nav-item col-md-3">
            <a class="nav-link active" href="#profile" role="tab" data-toggle="tab">Profil</a>
        </li>
        <li class="nav-item col-md-3">
            <a class="nav-link" href="#address" role="tab" data-toggle="tab">Mes adresses</a>
        </li>
        <li class="nav-item col-md-3">
            <a class="nav-link" href="#friends" role="tab" data-toggle="tab">Mes amis</a>
        </li>
        <li class="nav-item col-md-3">
            <a class="nav-link" href="#rides" role="tab" data-toggle="tab">Mes trajets</a>
        </li>
    </ul>

<!-- Tab panes -->
    <div class="tab-content">

        {#


        tab profil


        #}

        <div role="tabpanel" class="tab-pane fade in active show" id="profile">
            {% for type, flash_messages in app.session.flashBag.all %}
                {% for flash_message in flash_messages %}
                    <div class="alert alert-dismissible alert-{{ type }}" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ flash_message }}
                    </div>
                {% endfor %}
            {% endfor %}
            <div class="container alignItemCenter">
                <div class="col-md-3">
                    <img class="rounded-circle img-responsive rounded-image" src="{{ asset(get_avatar(app.user)) }}"  alt="photo de profil" height="232" width="232">

                </div><div class="col-md-9 noPaddingRight">
                    <div class="card">
                        <!--Card content-->
                        <div class="card-block">
                            <a class="btnEditProfil" href="{{ path('fos_user_profile_edit') }}" aria-label="Settings">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <!--Title-->
                            <h4 class="card-title">Informations</h4>
                            <!--Text-->
                            {##}

                            <p class="card-text"><i class="fa fa-bar-chart" aria-hidden="true"></i>{{ get_niveauCop(app.user) }} </p>
                            <p class="card-text"><i class="fa fa-users" aria-hidden="true"></i>{{ get_nbCop(app.user) }} Copiétonnage(s)</p>
                            <p class="card-text"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i> </p>
                        </div>
                        <!--/.Card content-->
                    </div>
                </div>

            </div>

            <div class="container text-center marginTop15">
                <div class="col-md-3">
                    <p>{{ app.user.name | capitalize }} {{ app.user.surname | capitalize}} | <span class="greyaaa">{{ get_age(app.user) }} ans</span></p>
                </div>
                <div class="col-md-9">
                </div>
            </div>

            <div class="container alignItemTop">
                <div class="col-md-3">
                    <div class="card">
                        <!--Card content-->
                        <div class="card-block">
                            <!--Title-->
                            <h4 class="card-title">Vérifications</h4>
                            <!--Text-->
                            {##}
                            {% if get_phone(app.user) == 'true'  %}
                                <p class="card-text greenValid"><i class="fa fa-check-square-o" aria-hidden="true"></i>Téléphone vérifié </p>
                            {% else %}
                                <p class="card-text redNonValid"><i class="fa fa-square-o" aria-hidden="true"></i>Téléphone non vérifié </p>
                            {% endif %}

                            {% if get_pictureVerified(app.user) == 'true'  %}
                                <p class="card-text greenValid"><i class="fa fa-check-square-o" aria-hidden="true"></i>Avatar vérifié </p>
                            {% else %}
                                <p class="card-text redNonValid"><i class="fa fa-square-o" aria-hidden="true"></i>Avatar non vérifié </p>
                            {% endif %}

                            {% if get_credentialVerified(app.user) == 'true' %}
                                <p class="card-text greenValid"><i class="fa fa-check-square-o" aria-hidden="true"></i>Pièce d'identité vérifiée </p>
                            {% else %}
                                <div class="redNonValid alignItemCenter">
                                    <i class="fa fa-square-o" aria-hidden="true"></i>
                                    <p class="card-text "><a href="{{ path('edit_credential') }}" class="redNonValid underline">Identité non vérifiée</a> </p>
                                </div>
                            {% endif %}

                        </div>
                        <!--/.Card content-->
                    </div>
                </div>
                {#app.user.birthday | date("m/d/Y")#}
                <div class="col-md-9 noPaddingRight">
                    <div class="card">
                        <!--Card content-->
                        <div class="card-block">
                            <a class="btnEditProfil" href="{{ path('fos_user_profile_edit') }}" aria-label="Settings">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <!--Title-->
                            <h4 class="card-title">Description</h4>
                            <!--Text-->
                            {##}

                            <p class="card-text"> {{ app.user.description }} </p>
                        </div>
                        <!--/.Card content-->
                    </div>
                </div>
            </div>

        </div>

        {#


        tab adresse


        #}
        <div role="tabpanel" class="tab-pane fade" id="address">{{ render(controller('AppBundle:UserAddress:list')) }}</div>


        {#


        tab amis


        #}
        <div role="tabpanel" class="tab-pane fade" id="friends">
            {% if app.user.facebookId %}
            <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">Amis Facebook</h4>
                            <p class="card-text">
                                Vous avez un total de {{ app.user.totalCountFacebookFriends }} amis sur Facebook.
                            </p>
                    </div>
            </div>
            <div class="card ">
                    <div class="card-block">
                        <h4 class="card-title">Amis utilisant Mon Chaperon</h4>
                        {% for user in app.user.facebookFriendsList %}
                            <div class="d-flex align-content-center flex-wrap friend-block">
                                <div class="p-2">
                                    <img class="rounded-circle img-responsive navatar" src="{{ asset(get_avatar(user))}}">
                                </div>
                               <div class="p-2">
                                   {{ user.name | capitalize }} {{ user.surname | capitalize}}  {{ get_age(user) }} ans -
                                   {{ user.description }}
                               </div>
                            </div>
                        {% else %}
                            Aucun de vos amis Facebook n'utilise Mon Chaperon.
                        {% endfor %}
                    </div>
            </div>
            {% else %}
                        <div class="card-block">
                            <h4 class="card-title">Vous n'êtes pas connecté avec Facebook.</h4>
                            <div class="col-md-4 col-centered">
                                <a href="#" onclick="fb_login();" class="btn btn-block btn-social btn-facebook"> <span class="fa fa-facebook"></span>Se connecter
                                    avec Facebook
                                </a>
                                <div class="mt-2 mb-2 hr">OR</div>
                            </div>
                        </div>
            {% endif %}
        </div>

        {#


        tab trajet


        #}
        <div role="tabpanel" class="tab-pane fade" id="rides">
            <div class="card">
                <!--Card content-->
                <div class="card-block">
                    <!--Title-->
                    <h4 class="card-title">Trajets Chaperonnés</h4>

                    {% for ride in get_ride(app.user) %}
                        <div class="alignItemCenter container">
                            <p class="col-md-12">
                                <strong class="col-md-3">
                            {% if ride.startAddress.name %}
                                 {{ ride.startAddress.name |escape}} </strong>   <i class="fa fa-long-arrow-right col-md-1 arrowNoMargin text-center" aria-hidden="true"></i>   <strong class="col-md-3"> {{ ride.finishAddress.name |escape}} </strong>
                            {% else %}
                                {{ ride.startAddress.street |escape}} </strong>   <i class="fa fa-long-arrow-right col-md-1 arrowNoMargin text-center" aria-hidden="true"></i>   <strong class="col-md-3"> {{ ride.finishAddress.street |escape}}</strong> </p>
                            {% endif %}
                            |
                            {% if ride.status == 'success' %}
                                <span class="greenValid col-md-3">{{ ride.status }}</span>
                            {% elseif ride.status == 'in progress' %}
                                <span class="yellowInProgress col-md-3">{{ ride.status }}</span>
                            {% else %}
                                <span class="redNonValid col-md-3">{{ ride.status }}</span>
                            {% endif %}
                            </p>

                        </div>
                        <div class="alignItemCenter col-md-12">
                            <div class="col-md-1 text-center"><i class="fa fa-calendar col-md-1" aria-hidden="true"></i></div>
                            <div class="col-md-3">{{ ride.date|date('d-m-Y')}} - {{ ride.hour|date('h:i:s') }}</div>
                        </div>
                        {% if ride.guardUser %}
                            <div class="alignItemCenter col-md-12">
                                <div class="col-md-1"><img class="rounded-circle img-responsive rounded-image marginAuto" src="{{ get_avatar(ride.guardUser) }}"  alt="photo de profil" height="40" width="40"></div>
                                <div class="col-md-3">{{ ride.guardUser.name }}</div>
                            </div>
                        {% endif %}
                        <hr>
                    {% else %}

                        Aucun trajet chaperonné enregistré.
                    {% endfor %}
                    <!--Text-->
                </div>
                <!--/.Card content-->
            </div>
            <div class="card marginTop15">
                <!--Card content-->
                <div class="card-block">
                    <!--Title-->
                    <h4 class="card-title">Trajets Chaperons</h4>
                    <!--Text-->
                    {% for ride in get_created(app.user) %}
                        <div class="alignItemCenter container">
                            <p class="col-md-12">
                                <strong class="col-md-3">
                                    {% if ride.startAddress.name %}
                                        {{ ride.startAddress.name |escape}} </strong>   <i class="fa fa-long-arrow-right col-md-1 arrowNoMargin text-center" aria-hidden="true"></i>   <strong class="col-md-3"> {{ ride.finishAddress.name |escape}} </strong>
                                    {% else %}
                                        {{ ride.startAddress.street |escape}} </strong>   <i class="fa fa-long-arrow-right col-md-1 arrowNoMargin text-center" aria-hidden="true"></i>   <strong class="col-md-3"> {{ ride.finishAddress.street |escape}}</strong> </p>
                                    {% endif %}
                                    |
                                    {% if ride.status == 'success' %}
                                        <span class="greenValid col-md-3">{{ ride.status }}</span>
                                    {% elseif ride.status == 'in progress' %}
                                        <span class="yellowInProgress col-md-3">{{ ride.status }}</span>
                                    {% else %}
                                        <span class="redNonValid col-md-3">{{ ride.status }}</span>
                                    {% endif %}
                                    </p>
                        </div>
                        <div class="alignItemCenter col-md-12">
                            <div class="col-md-1 text-center"><i class="fa fa-calendar col-md-1" aria-hidden="true"></i></div>
                            <div class="col-md-3">{{ ride.date|date('d-m-Y')}} - {{ ride.hour|date('h:i:s') }}</div>
                        </div>
                        <div class="alignItemCenter col-md-12">
                            <div class="col-md-1"><img class="rounded-circle img-responsive rounded-image marginAuto" src="{{ get_avatar(ride.protectedUser) }}"  alt="photo de profil" height="40" width="40"></div>
                            <div class="col-md-3">{{ ride.protectedUser.name }}</div>
                        </div>
                        <hr>
                    {% else %}
                        Aucun trajet chaperon enregistré.
                    {% endfor %}


                </div>
                <!--/.Card content-->
            </div>
        </div>
    </div>
</div>