{% trans_default_domain 'FOSUserBundle' %}

<div class="profileClass container">

    <ul class="nav nav-tabs text-center" role="tablist">
        <li class="nav-item col-md-3">
            <a class="nav-link active" href="#profile" role="tab" data-toggle="tab">Profil</a>
        </li>
        <li class="nav-item col-md-3">
            <a class="nav-link" href="#address" role="tab" data-toggle="tab">Mes adresses</a>
        </li>
        <li class="nav-item col-md-3">
            <a class="nav-link" href="#friends" role="tab" data-toggle="tab">Mes amis</a>
        </li>
        <li class="nav-item col-md-3">
            <a class="nav-link" href="#rides" role="tab" data-toggle="tab">Mes trajets</a>
        </li>
    </ul>

<!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active show" id="profile">
            {% for type, flash_messages in app.session.flashBag.all %}
                {% for flash_message in flash_messages %}
                    <div class="alert alert-dismissible alert-{{ type }}" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ flash_message }}
                    </div>
                {% endfor %}
            {% endfor %}
            <div class="container alignItemCenter">
                <div class="col-md-3">
                    <img class="rounded-circle img-responsive rounded-image" src="{{ asset(get_avatar(app.user)) }}"  alt="photo de profil" height="232" width="232">

                </div><div class="col-md-9 noPaddingRight">
                    <div class="card">
                        <!--Card content-->
                        <div class="card-block">
                            <!--Title-->
                            <h4 class="card-title">Informations</h4>
                            <!--Text-->
                            {##}

                            <p class="card-text"><i class="fa fa-bar-chart" aria-hidden="true"></i>  {{ get_niveauCop(app.user) }} </p>
                            <p class="card-text"><i class="fa fa-users" aria-hidden="true"></i>  {{ get_nbCop(app.user) }} Copiétonnage(s)</p>
                            <p class="card-text"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i> </p>
                        </div>
                        <!--/.Card content-->
                    </div>
                </div>

            </div>

            <div class="container text-center">
                <div class="col-md-3">
                    <p>{{ app.user.name | capitalize }} {{ app.user.surname | capitalize}} | {{ get_age(app.user) }} ans</p>
                </div>
                <div class="col-md-9">
                </div>
            </div>

            <div class="container alignItemTop">
                <div class="col-md-3">
                    <div class="card">
                        <!--Card content-->
                        <div class="card-block">
                            <!--Title-->
                            <h4 class="card-title">Vérifications</h4>
                            <!--Text-->
                            {##}
                            {% if get_phone(app.user) == 'true'  %}
                                <p class="card-text"><i class="fa fa-check-square-o" aria-hidden="true"></i> Téléphone vérifié </p>
                            {% else %}
                                <p class="card-text"><i class="fa fa-square-o" aria-hidden="true"></i> Téléphone non vérifié </p>
                            {% endif %}

                            {% if get_pictureVerified(app.user) == 'true'  %}
                                <p class="card-text"><i class="fa fa-check-square-o" aria-hidden="true"></i> Avatar vérifié </p>
                            {% else %}
                                <p class="card-text"><i class="fa fa-square-o" aria-hidden="true"></i> Avatar non vérifié </p>
                            {% endif %}

                            {% if get_credentialVerified(app.user) == 'true' %}
                                <p class="card-text"><i class="fa fa-check-square-o" aria-hidden="true"></i> Pièce d'identité vérifié </p>
                            {% else %}
                                <p class="card-text"><i class="fa fa-square-o" aria-hidden="true"></i> Pièce d'identité non vérifié </p>
                            {% endif %}

                        </div>
                        <!--/.Card content-->
                    </div>
                </div>
                {#app.user.birthday | date("m/d/Y")#}
                <div class="col-md-9 noPaddingRight">
                    <div class="card">
                        <!--Card content-->
                        <div class="card-block">
                            <!--Title-->
                            <h4 class="card-title">Description</h4>
                            <!--Text-->
                            {##}

                            <p class="card-text"> {{ app.user.description }} </p>
                        </div>
                        <!--/.Card content-->
                    </div>
                </div>
            </div>

        </div>
        <div role="tabpanel" class="tab-pane fade" id="address">bbb</div>
        <div role="tabpanel" class="tab-pane fade" id="friends">
            {% if app.user.facebookId %}
            <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">Amis Facebook</h4>
                            <p class="card-text">
                                Vous avez un total de {{ app.user.totalCountFacebookFriends }} amis sur Facebook.
                            </p>
                    </div>
            </div>
            <div class="card ">
                    <div class="card-block">
                        <h4 class="card-title">Amis utilisant Mon Chaperon</h4>
                        {% for user in app.user.facebookFriendsList %}
                            <div class="d-flex align-content-center flex-wrap friend-block">
                                <div class="p-2">
                                    <img class="rounded-circle img-responsive navatar" src="{{ asset(get_avatar(user))}}">
                                </div>
                               <div class="p-2">
                                   {{ user.name | capitalize }} {{ user.surname | capitalize}}  {{ get_age(user) }} ans -
                                   {{ user.description }}
                               </div>
                            </div>
                        {% endfor %}
                    </div>
            </div>
            {% else %}
                        <div class="card-block">
                            <h4 class="card-title">Vous n'êtes pas connecté avec Facebook.</h4>
                            <div class="text-center">
                                <a href="#" onclick="fb_login();" class="btn btn-block btn-social btn-facebook"> <span class="fa fa-facebook"></span>Me connecter
                                    à Facebook
                                </a>
                                <div class="mt-2 mb-2 hr">OR</div>
                            </div>
                        </div>
            {% endif %}
            </div>

        <div role="tabpanel" class="tab-pane fade" id="rides">vvv</div>
    </div>

</div>