{% extends 'base.html.twig' %}
{% block body %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/accueil.css') }}" type="text/css"/>
    {% block header %}
        {% block navbar %}
            <nav class="navbar navbar-toggleable-md navbar-dark blue_bg">
                <div class="container">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                            data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('homepage') }}">
                        <img src="{{ asset('bundles/app/img/logo1.png') }}"/>
                    </a>
                    <div class="collapse navbar-collapse" id="navbarNav1">
                        <ul class="navbar-nav mr-auto">
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('sonata_admin_dashboard') }}"><i class="fa fa-cogs" aria-hidden="true"></i>
                                         Admin Panel</a>
                                </li>
                            {% endif %}
                        </ul>
                        {% block account %}
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <img class="rounded-circle img-responsive navatar"
                                             src="{{ asset(get_avatar(app.user)) }}">
                                        <span class="glyphicon glyphicon-chevron-down"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <div class="navbar-login ">
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <p class="text-center">
                                                            {% block user_img %}
                                                                <img class="rounded img-fluid"
                                                                     src="{{ asset(get_avatar(app.user)) }}">
                                                            {% endblock %}
                                                        </p>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <p class="text-left">
                                                            <strong>{{ app.user.name |capitalize }} {{ app.user.surname |capitalize }}</strong>
                                                        </p>
                                                        <p class="text-left small">{{ app.user.email }}</p>
                                                        <p class="btn-profil">
                                                            <a class="btn btn-default btn-sm"
                                                               href="{{ path('fos_user_profile_show') }}">
                                                                <i class="fa fa-cog"></i> Paramètres</a>
                                                            <a href="{{ path('fos_user_security_logout') }}"
                                                               class="btn btn-danger"><i
                                                                        class="fa fa-power-off"></i></a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="divider"></li>
                                    </ul>
                                </li>
                            </ul>
                        {% endblock %}
                    </div>
                </div>
            </nav>
        {% endblock %}
    {% endblock %}
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    {% block footer %}
        <!--Footer-->
        <footer class="page-footer center-on-small-only">
            <!--Footer Links-->
            <div class="container-fluid">
                <div class="row">
                    <!--First column-->
                    <div class="col-md-3 offset-md-1">
                        <h5 class="title">Mon Chaperon</h5>
                    </div>
                    <!--/.First column-->

                    <hr class="hidden-md-up">

                    <!--Second column-->
                    <div class="col-md-2 offset-md-1">
                        <h5 class="title">Liens du site</h5>
                        <ul>
                            <li><a href="#">Comment ça marche ?</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Actu</a></li>
                            <li><a href="#">Mentions légales</a></li>
                        </ul>
                    </div>
                    <!--/.Second column-->

                    <hr class="hidden-md-up">

                    <!--Third column-->
                    <div class="col-md-2">
                        <h5 class="title">Contact</h5>
                        <ul>
                        </ul>
                    </div>
                    <!--/.Third column-->

                    <hr class="hidden-md-up">

                    <!--Fourth column-->
                    <div class="col-md-2">
                        <h5 class="title">Social</h5>
                        <a href="#">
                        <span class="fa-stack fa-lg logotwitter">
                          <i class="fa fa-square-o fa-stack-2x"></i>
                          <i class="fa fa-twitter fa-stack-1x"></i>
                        </span></a>
                        <a href="#">
                        <span class="fa-stack fa-lg logofacebook">
                          <i class="fa fa-square-o fa-stack-2x"></i>
                          <i class="fa fa-facebook fa-stack-1x"></i>
                        </span></a>
                        <a href="#">
                        <span class="fa-stack fa-lg logoinstagram">
                          <i class="fa fa-square-o fa-stack-2x"></i>
                          <i class="fa fa-instagram fa-stack-1x"></i>
                        </span></a>
                    </div>
                    <!--/.Fourth column-->
                </div>
            </div>
            <!--/.Footer Links-->

            <!--Copyright-->
            <div class="footer-copyright">
                <div class="container-fluid">
                    © 2017 Made with love ♥
                </div>
            </div>
            <!--/.Copyright-->

        </footer>
        <!--/.Footer-->
    {% endblock %}
{% endblock %}
