{% trans_default_domain 'FOSUserBundle' %}

<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function() {
        // init the FB JS SDK
        FB.init({
            appId      : {{ fbAppId }} ,                       // App ID from the app dashboard
            status     : true,                                 // Check Facebook Login status
        });
    };

    // Load the SDK asynchronously
    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    function fb_login() {
        FB.getLoginStatus(function(response) {
            if (response.status === 'connected') {
                // connected
                //alert('Already connected, redirect to login page to create token.');
                document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
            } else {
                // not_authorized
                FB.login(function(response) {
                    if (response.authResponse) {
                        document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                    } else {
                        //alert('Cancelled.');
                    }
                }, {scope: 'email'});
            }
        });
    }
</script>
<div class="text-center">
    <a href="#" onclick="fb_login();" class="btn btn-block btn-social btn-facebook"> <span class="fa fa-facebook"></span> Se
        connecter avec Facebook</a>
    <div class="mt-2 mb-2 hr">OR</div>
</div>

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}


{{ form_errors(form) }}
<div class="md-form">
    {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
    {{ form_label(form.username) }}
    {{ form_errors(form.username) }}
</div>

<div class="md-form">
    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
    {{ form_label(form.email) }}
    {{ form_errors(form.email) }}
</div>

<div class="md-form">
    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
    {{ form_label(form.plainPassword.first) }}
    {{ form_errors(form.plainPassword.first) }}
</div>

<div class="md-form">
    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
    {{ form_label(form.plainPassword.second) }}
</div>

<div class="md-form">
    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
    {{ form_label(form.name) }}
    {{ form_errors(form.name) }}
</div>

<div class="md-form">
    {{ form_widget(form.surname, {'attr': {'class': 'form-control'}}) }}
    {{ form_label(form.surname) }}
    {{ form_errors(form.surname) }}
</div>

<div class="mdl-selectfield md-form">
    {{ form_widget(form.gender, {'attr': {'class': 'browser-default form-control'}}) }}
    {{ form_label(form.gender) }}
    {{ form_errors(form.gender) }}
</div>

<div class="md-form birth">
    {{ form_widget(form.birthday) }}
    {{ form_errors(form.birthday) }}
</div>

<div class="text-center">
    <button type="submit"
            class="btn sign btn-outline-primary btn-lg btn-block">{{ 'registration.submit'|trans }}</button>
</div>
<div class="text-center">
    <p class="tw">Déjà inscrit ? <a href="{{ path('fos_user_security_login') }}">Se connecter</a></p>
    <p class="tw"><a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a></p>
</div>
{{ form_end(form) }}
