
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            {{ form_start(form, {'method': 'post', 'attr': {'class': 'fos_user_profile_show'}}) }}
            <!--Header-->
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">Modifier l'adresse</h4>
            </div>
            <!--Body-->
            <div class="modal-body" data-form-type="edit">
                {{ form_errors(form) }}
                <div class="md-form">
                    {{ form_widget(form.name, {'attr': {'class': 'form-control address-name'}}) }}
                    {{ form_label(form.name) }}
                    {{ form_errors(form.name) }}
                </div>
                <div id="locationField" class="md-form">

                    <input class="google-autocomplete" type="text">

                </div>
                <div class="md-form">
                    {{ form_widget(form.street, {'attr': {'class': 'form-control address-street'}}) }}
                    {{ form_label(form.street) }}
                    {{ form_errors(form.street) }}
                </div>

                <div class="md-form">
                    {{ form_widget(form.postalCode, {'attr': {'class': 'form-control address-postal-code'}}) }}
                    {{ form_label(form.postalCode) }}
                    {{ form_errors(form.postalCode) }}
                </div>

                <div class="md-form">
                    {{ form_widget(form.city, {'attr': {'class': 'form-control address-city'}}) }}
                    {{ form_label(form.city) }}
                    {{ form_errors(form.city) }}
                </div>

                <div class="md-form">
                    {{ form_widget(form.country, {'attr': {'class': 'form-control address-country'}}) }}
                    {{ form_label(form.country) }}
                    {{ form_errors(form.country) }}
                </div>
                {{ form_rest(form) }}

            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button id="dismiss-btn-address-form" type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
            {{ form_end(form) }}
        </div>
        <!--/.Content-->
    </div>
