{% extends '@FOSUser/layout.html.twig' %}

{% block fos_user_content %}
    <div>Veuillez compléter votre profil avant de continuer<div>
    <hr>
    {{ form_start(form, {'attr': {'class': 'form-horizontal','novalidate': 'novalidate'}}) }}
    {{ form_errors(form) }}
    <div class="md-form">
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        {{ form_label(form.name) }}
        {{ form_errors(form.name) }}
    </div>

    <div class="md-form">
        {{ form_widget(form.surname, {'attr': {'class': 'form-control'}}) }}
        {{ form_label(form.surname) }}
        {{ form_errors(form.surname) }}
    </div>

    <div class="mdl-selectfield md-form">
        {{ form_widget(form.gender, {'attr': {'class': 'browser-default form-control'}}) }}
        {{ form_label(form.gender) }}
        {{ form_errors(form.gender) }}
    </div>

    <div class="md-form birth">
        {{ form_widget(form.birthday) }}
        {{ form_errors(form.birthday) }}
    </div>
    <div class="text-center">
        <input type="submit" class="btn sign btn-outline-primary btn-lg btn-block" value="Valider">
    </div>
    {{ form_end(form) }}
{% endblock %}